
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
body{
    background: linear-gradient(beige, pink);
    /* background:url(./assets/Dim-Sum.jpeg) */
}
.flex-container{
background: beige;
display: flex;
gap:20px;
}
.flex-item{
  background: rgb(255, 117, 117);
  min-width:120px;
  min-height:120px;
}
img{
  display: inline-block;
  width: 200px;
  animation: cloudy-move 10s infinite;

}

@keyframes cloudy-move{
  0%{transform: translateX(-500px);}
  50% {transform: translateX(200vw);}
}